DS_STORE
bin
obj
*.user
*.suo
*.log
*.bak
Thumbs.db
Debug/
Release/
*DXCore.Solution/
/Web/PodMarker.DataAccess.NHibernate.Tests/TestData/BackupData.xml
/Web/Build/Reports/UnitTests/UnitTestResults.xml
/Web/TestResults/*